& {
  .main-bg {

    background: 0 0;
    overflow: hidden;

    #buyer-sign-up-form {
      position: relative;

      &:after {
        content: "";
        background: url(../images/main-bg_mob.webp) center no-repeat;
        background-size: 100%;
        width: 93.333vw;
        height: 52.800vw;
        position: absolute;
        left: 57px;
        top: -60.6vw;
        top: 0;
        transform: translateY(-114%);
        z-index: 0;
      }

      .btn-coupon,
      .text-white {
        z-index: 2;
        position: relative;
      }

      &:before {
        content: "";
        background: linear-gradient(180deg, #1AA5BD 0%, #188CAE 100%);
        height: calc(100% + 60px);
        width: 150vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 1;
      }
    }

    .head-logo {
      justify-content: flex-start;
      max-width: 152px;
      margin-bottom: 46px;

      li {
        margin-bottom: 9px;
        margin-right: 18px;

        &:nth-child(1) {
          svg {
            width: 27px;
            height: 15px;
          }
        }

        &:nth-child(2) {
          svg {
            width: 54px;
            height: 20px;
          }
        }

        &:nth-child(3) {
          svg {
            width: 25px;
          }
        }

        &:nth-child(4) {
          svg {
            width: 25px;
          }
        }

        &:nth-child(6) {
          svg {
            width: 53px;
          }
        }

        &:nth-child(5) {
          svg {
            width: 85px;

          }
        }

        svg {
          //          max-height: 20px;
          width: auto;

          path {}
        }
      }
    }

    h1 {
      font-size: 30px;
      line-height: 36px;
      //      color: #fff;
    }

    h4 {
      font-size: 15px;
      line-height: 22px;
      //      color: #FFFFFF;
      max-width: 300px;
    }
  }

  .main {
    .logo-title {
      margin-top: 35px;
      //      color: #fff;
      font-size: 13.2316px;
      line-height: 100%;
    }

    #buyer-sign-up-form {
      max-width: 100%;
    }

    .tag-items {
      .tag-btn {
        margin: 10px 5px;
      }

      flex-wrap: wrap;
      justify-content: center;

    }

    .how_it_work {
      border-radius: 0;
      margin-bottom: 0;

      &-item {
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 10px;
        max-width: 240px;

        .img {
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
    }

    .testimonials {
      padding: 45px 0 60px;

      .btn-group {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;

        .btn.btn-lg {
          max-width: 260px;
          margin-right: 0;

          &:first-child {
            margin-bottom: 12px;
          }
        }
      }
    }

    #marketplaces {
      margin-top: 0;
      margin-bottom: 0;
      transform: none;
      padding: 35px 0;
    }

    .nav-listing-types {
      display: flex;
      max-width: 410px;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      align-items: center;

      .btn-listing-type {
        padding: 16px 20px;
        width: 33.33%;
      }
    }

    .map-bg {
      background-size: 540px;
      background-position: center;
    }

    .bg-primary-dark {
      min-height: 390px;
      display: flex;
      align-items: center;
      align-content: center;

    }

    .marketplaces-item {
      justify-content: center;

      .section-subheading {
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
      }

      a {
        margin: 15px;

        img {
          max-height: 23px;
        }
      }
    }
  }

  .xs-none {
    display: none;
  }

  .xs-block {
    display: inherit;
  }

  .navbar-brand {
    svg {
      max-width: 123px;
    }
  }

  .form-more {
    display: none;
    position: relative;
    z-index: 2;
  }
}
