& {
  .main-bg {
    min-height: inherit;
    background: 0 0;
    overflow: hidden;

    #buyer-sign-up-form {
      position: relative;

      &:after {
        content: "";
        background: url(../images/main-bg_mob.webp) center no-repeat;
        background-size: 100%;
        width: 99.333vw;
        height: 62.8vw;
        position: absolute;
        left: 27px;
        top: -60.6vw;
        top: 0;
        transform: translateY(-105%);
      }

      .btn-coupon,
      .text-white {
        z-index: 2;
        position: relative;
      }

      &:before {
        content: "";
        background: linear-gradient(180deg, #1AA5BD 0%, #188CAE 100%);
        height: calc(100% + 30px);
        width: 150vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 1;
      }
    }



    h1 {
      font-size: 30px;
      line-height: 36px;
      //      color: #fff;
    }

    h4 {
      font-size: 15px;
      line-height: 22px;
      //      color: #FFFFFF;
      max-width: 300px;
    }
  }

  .main {
    .logo-title {
      margin-top: 25px;
      //      color: #fff;
      font-size: 13.2316px;
      line-height: 100%;
    }

    #buyer-sign-up-form {
      max-width: 100%;
    }

/*    .tag-items {
      .tag-btn {
        margin: 10px 5px;
        margin-right: 0;
        margin-bottom: 20px;
        &:nth-child(odd) {
          margin-right: 20px;
        }
        &:nth-child(3), &:nth-child(4) {
          margin-bottom: 0;
        }
      }

      flex-wrap: wrap;
      justify-content: center;

    }*/

    .how_it_work {
      border-radius: 0;
      margin-bottom: 0;
      margin: 0;
      .col-lg-4 {
        &:last-child {
          .how_it_work-item {
            margin-bottom: 0;
          }
        }
      }

      &-item {
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 30px;
        max-width: 240px;

        .img {
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
    }

    .testimonials {
      padding: 45px 0 60px;

      .btn-group {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        max-width: 260px;
        .btn.btn-lg {
          max-width: 260px;
          margin-right: 0;

          &:first-child {
            margin-bottom: 12px;
          }
        }
      }
    }

    #marketplaces {
      margin-top: 0;
      margin-bottom: 0;
      transform: none;
      padding: 35px 0 20px;
    }

    .nav-listing-types {
      display: flex;
      max-width: 410px;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      align-items: center;
      

      .btn-listing-type {
        padding: 16px 20px;
        width: 33.33%;
        min-width: auto;
      }
    }

    .map-bg {
      background-size: 540px;
      background-position: center;
    }

    .bg-primary-dark {
//      min-height: 390px;
      display: flex;
      align-items: center;
      align-content: center;

    }

    .marketplaces-item {
      justify-content: center;

      .section-subheading {
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
      }

      a {
        margin: 15px;

        img {
          max-height: 23px;
        }
      }
    }
  }

  .xs-none {
    display: none;
  }

  .xs-block {
    display: inherit;
  }

  .navbar-brand {
    svg {
      max-width: 123px;
    }
  }

  .form-more {
    display: none;
    position: relative;
    z-index: 2;
  }
  h2 {
    font-size: 1.563rem;
  }
  .main #buyers-testimonials {
    padding: 45px 0 60px;
  }
}