@import '../../mq';

@media #{$tabletLandscape} {
  @import '../desktop';


  .main-bg {

    .head-logo {
      justify-content: flex-start;

      li {
        svg path {
          fill: #272727;
         
        }
      }
    }

    h1 {
      color: #272727;
    }

    h4 {
      color: #272727;
    }
  }

  .main {
    .logo-title {
      color: #272727;
    }
.btn-lg,
    .btn-group-lg > .btn {
      padding: .5625rem 1.875rem;

    }
  }
}